@font-face {
    font-family: fontAwesome;
    src: url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css);
}

#summary {
  display: none;
}

#myChart {
  width: 200px;
  height: 100px;
}

#question {
  display: none;
}

#nonsenseScoring {
  display: none;
}

#videoRecommendations {
    padding: 10px;
    padding-left: 50;
    padding-right: 50;
    margin: 0;
    display: none;
    border-radius: 8px;
    text-align: center;
}

#curriculumRecommendations {
    padding: 10px;
    padding-left: 50;
    padding-right: 50;
    margin: 0;
    display: none;
    border-radius: 8px;
    text-align: center;
}

#programRecommendations {
    max-width: none;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    margin: 0;
    display: none;
    border-radius: 8px;
    text-align: center;
}

iframe {
    padding-left: 25px;
    padding-right: 25px;
}

img {
    padding-left: 50px;
    padding-right: 50px;
}

#flashcard {
    width: 320px;
    padding: 10px;
    border: 15px solid blue;
    margin: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
}

#appRecommendations {
    padding: 10px;
    padding-left: 50;
    padding-right: 50;
    margin: 0;
    display: none;
    border-radius: 8px;
    text-align: center;
}

h1 {
    text-align: center;
    font-family: "Avenir";
    font-style: normal;
    font-size: 100px;
    color: black;
    text-transform: lowercase;
}

h2 {
    text-align: left;
    font-family: "Avenir";
    font-style: normal;
    font-size: 20px;
    color: black;
}

h3 {
    text-align: center;
    font-family: "Avenir";
    font-style: normal;
    font-size: 50px;
    color: black;
}

.nextButton{
    float: bottom;
    font-family: "fontAwesome"
    border: none;
    color: blue;
    padding: 12px 10px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
}

$blue: #a3d5d3;

body {
  background-color: rgb(23, 198, 255);
}

/*h1 {
  color: white;
  font-size: 40px;
  font-family: Avenir;
  text-align: center;
}*/

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 16px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.button1 {
  background-color: white;
  color: #4CAF50;
  border: 2px solid #4CAF50;
  border-radius: 8px;
  width: 200px;
}

.button1:hover {
  background-color: #4CAF50;
  color: white;
}

.button2 {
  background-color: white;
  color: rgb(255, 153, 0);
  border: 2px solid rgb(255, 153, 0);
  border-radius: 8px;
  width: 200px;
}

.button2:hover {
  background-color: rgb(255, 153, 0);
  color: white;
}

.button3 {
  background-color: white;
  color: rgb(255, 153, 0);
  border: 2px solid rgb(255, 153, 0);
  border-radius: 8px;
  width: 200px;
}

.button3:hover {
  background-color: rgb(255, 153, 0);
  color: white;
}

.button4 {
  background-color: white;
  color: #f44336;
  border: 2px solid #f44336;
  border-radius: 8px;
  width: 200px;
}

.button4:hover {
  background-color: #f44336;
  color: white
}

.button5 {
  background-color: white;
  color: #f44336;
  border: 2px solid #f44336;
  border-radius: 8px;
  width: 200px;
}

.button5:hover {
  background-color: #f44336;
  color: white
}
